## Data Preprocessing

### Load the data

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.preprocessing import StandardScaler

In [2]:
os.getcwd()

'c:\\Users\\amman\\Documents\\MLOPS\\Aircraft-Engine-Predictive-Maintenance\\notebooks'

In [3]:
os.chdir("../")
os.getcwd()

'c:\\Users\\amman\\Documents\\MLOPS\\Aircraft-Engine-Predictive-Maintenance'

In [10]:
data_path = r"data/raw/CMAPSSData"
train_file = os.path.join(data_path, "train_FD001.txt")
test_file = os.path.join(data_path, "test_FD001.txt")

# Column names based on dataset description
column_names = ["unit", "time", "setting_1", "setting_2", "setting_3"] + [f"sensor_{i}" for i in range(1, 22)]

# Load data
train_df = pd.read_csv(train_file, sep='\s+', header=None, names=column_names, engine='python')
test_df = pd.read_csv(test_file, sep='\s+', header=None, names=column_names, engine='python')

#### Add RUL columns for Train and Test Sets

In [11]:
# Add RUL for Train set
rul_max = train_df.groupby("unit")["time"].max().reset_index()
rul_max.columns = ["unit", "max_time"]
train_df = train_df.merge(rul_max, on="unit", how="left")
train_df["RUL"] = train_df["max_time"] - train_df["time"]
train_df.drop(columns=["max_time"], inplace=True)

# Add RUL for Test set
rul_max = test_df.groupby("unit")["time"].max().reset_index()
rul_max.columns = ["unit", "max_time"]
test_df = test_df.merge(rul_max, on="unit", how="left")
test_df["RUL"] = test_df["max_time"] - test_df["time"]
test_df.drop(columns=["max_time"], inplace=True)

In [12]:
train_df.head()

   unit  time  setting_1  setting_2  ...  sensor_19  sensor_20  sensor_21  RUL
0     1     1    -0.0007    -0.0004  ...      100.0      39.06    23.4190  191
1     1     2     0.0019    -0.0003  ...      100.0      39.00    23.4236  190
2     1     3    -0.0043     0.0003  ...      100.0      38.95    23.3442  189
3     1     4     0.0007     0.0000  ...      100.0      38.88    23.3739  188
4     1     5    -0.0019    -0.0002  ...      100.0      38.90    23.4044  187

[5 rows x 27 columns]

In [13]:
test_df.head()

   unit  time  setting_1  setting_2  ...  sensor_19  sensor_20  sensor_21  RUL
0     1     1     0.0023     0.0003  ...      100.0      38.86    23.3735   30
1     1     2    -0.0027    -0.0003  ...      100.0      39.02    23.3916   29
2     1     3     0.0003     0.0001  ...      100.0      39.08    23.4166   28
3     1     4     0.0042     0.0000  ...      100.0      39.00    23.3737   27
4     1     5     0.0014     0.0000  ...      100.0      38.99    23.4130   26

[5 rows x 27 columns]

#### Apply Scaling to Features

In [14]:
# Select sensor and settings columns to scale
scale_columns = ["setting_1", "setting_2", "setting_3"] + [f"sensor_{i}" for i in range(1, 22)]

# Extract sensor data
train_sensors = train_df[scale_columns]
test_sensors = test_df[scale_columns]

# Scale sensor data
scaler = StandardScaler()
train_sensors_scaled = scaler.fit_transform(train_sensors)
test_sensors_scaled = scaler.transform(test_sensors)

# Replace the original sensor columns with scaled data
train_df[scale_columns] = train_sensors_scaled
test_df[scale_columns] = test_sensors_scaled

In [15]:
train_df.head()

   unit  time  setting_1  setting_2  ...  sensor_19  sensor_20  sensor_21  RUL
0     1     1  -0.315980  -1.372953  ...        0.0   1.348493   1.194427  191
1     1     2   0.872722  -1.031720  ...        0.0   1.016528   1.236922  190
2     1     3  -1.961874   1.015677  ...        0.0   0.739891   0.503423  189
3     1     4   0.324090  -0.008022  ...        0.0   0.352598   0.777792  188
4     1     5  -0.864611  -0.690488  ...        0.0   0.463253   1.059552  187

[5 rows x 27 columns]

In [16]:
test_df.head()

   unit  time  setting_1  setting_2  ...  sensor_19  sensor_20  sensor_21  RUL
0     1     1   1.055599   1.015677  ...        0.0   0.241943   0.774097   30
1     1     2  -1.230366  -1.031720  ...        0.0   1.127183   0.941305   29
2     1     3   0.141213   0.333211  ...        0.0   1.459148   1.172256   28
3     1     4   1.924266  -0.008022  ...        0.0   1.016528   0.775945   27
4     1     5   0.644125  -0.008022  ...        0.0   0.961200   1.138999   26

[5 rows x 27 columns]

### Save Preprocessed Data

In [17]:
train_df.to_csv("data/processed/train_FD001_processed")
test_df.to_csv("data/processed/test_FD001_processed")